<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youtochi.ktvendo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- permissions for displaying floating buttons -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- permissions for GPS location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!-- permissions to get phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_buy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_main"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MiMapaTiendasActivity"

            android:label="@string/title_activity_mi_mapa_robots"
            android:screenOrientation="landscape" />
        <activity android:name=".DespliegaDetalleTiendaActivity" />
        <activity android:name=".MiMapaDetalleUnTiendaActivity" />



        <!-- service for floating buttons -->
        <service android:name=".ControlesBotones" />
        <!--
        <activity android:name=".DespliegaCheckoutPagarActivity" />
        <activity
            android:name=".MiMapaLunaRobotsActivity"
            android:label="@string/title_luna"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".MiMapaMarteRobotsActivity"
            android:label="@string/title_marte"
            android:screenOrientation="landscape" />
        <activity android:name="com.youtochi.qtienditas.EditNewDetalleTiendaActivity" />
        <activity android:name="com.youtochi.qtienditas.MiMapaUnNuevoTiendaActivity" />
        -->
        <!-- ticket module -->
        <!--
        <activity
            android:name=".MainTicketActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".Signupctivity" android:theme="@style/AppTheme.Dark" />
        -->
        <!-- after the initial-login was added, this main activity was added here -->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_main" />
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- <activity android:name=".SplashActivity"></activity> -->
        <activity
            android:name=".Signupctivity"
            android:label="@string/title_activity_login"></activity>
        <!-- segunda  screen de registro: nueva tiemda-->
        <activity
            android:name=".StoreSignupctivity"
            android:label="@string/title_activity_login"></activity>

   <!-- tercera screen de registro: mapa de nueva tiemda-->
        <activity android:name=".MiMapaUnNuevoTiendaActivity" />

    </application>

</manifest>